h1,
p {
    font-family: 'Lucida Sans', 'Times New Roman', sans-serif;
}
.h-font {
    font-size: 30px;
}
#h-index {
    background-color: black;
    color: white;
    text-align: center;
}
#ul-index li a {
    background-color: aqua;
    color: black;
    font-size: 25px;
}
#h-breakfast {
    background-color: lightpink;
    color: darkorange;
}
.img-size {
    width: 500px;
    height: auto;
}
h2 {
    font-size: 25px;
    background-color: lightgray;
    color: darkred;
}
ul li {
    font-size: 20px;
}
ol li {
    font-size: 22px;
    font-weight: bold;
}